body{
    background-color: black;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
}
#welcome {
    background-color: black;
    height: 100%;
    height: fit-content;

}
.container-fluid{
    background-color: black;
    color:hotpink;
    padding: 7% 15%;
    text-align: center;
    height:fit-content ;
}
h1{
    font-size: 8rem;
    padding-bottom: 10%;
}
a {
    color: hotpink;
}